.dropzone-custom {
  border: 1px dashed #ffffff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  padding: 7px;
}

/* Flashind red white */
.dropzone-custom-release {
  animation: identifier 0.5s infinite;
}

@keyframes identifier {
  0% {
    background-color: #ff0000;
  }
  10% {
    background-color: #ff8000;
  }
  20% {
    background-color: #ffff00;
  }
  30% {
    background-color: #80ff00;
  }
  40% {
    background-color: #00ff00;
  }
  50% {
    background-color: #00ff80;
  }
  60% {
    background-color: #00ffff;
  }
  70% {
    background-color: #0080ff;
  }
  80% {
    background-color: #0000ff;
  }
  90% {
    background-color: #8000ff;
  }
  100% {
    background-color: #ff00ff;
  }
}

.dropzone-parent * {
  pointer-events: none;
}

.dropzone-parent {
  background-color: #4d4e52;
}

.dropzone-parent:hover {
  background-color: #696a6e;
}